<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-5">
    <div class="shadow p-4 bg-white rounded">
        <h3 class="mb-4">Questions List</h3>
        <ul class="list-unstyled">
            <li th:each="question, loop : ${paging}" class="mb-3 border-bottom pb-3">
                <span class="d-block mb-1" style="font-size: 0.9rem; color: #777;" th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index} + '. ' + ${question.subject}"></span>
                <a th:href="@{|/question/detail/${question.id}|}" class="text-decoration-none text-dark font-weight-bold" th:text="${question.subject}"></a>
                <span class="text-danger ml-2"
                    th:if="${#lists.size(question.answerList) > 0}" 
                    th:text="'Answers: ' + ${#lists.size(question.answerList)}">
                </span>
                <div class="mt-1 text-muted" style="font-size: 0.8rem;" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
            </li>
        </ul>

        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}" class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number-1}|}" style="background: #f7f7f7; border-color: #ddd;">
                        <span>← 이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'" 
                    class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}" style="background: #f7f7f7; border-color: #ddd;"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number+1}|}" style="background: #f7f7f7; border-color: #ddd;">
                        <span>다음 →</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->

        <div class="mt-5">
            <a th:href="@{/question/create}" class="btn btn-dark">질문 등록하기</a>
        </div>
    </div>
</div>
</html>
